<figure class="testimonio-card keen-slider__slide">
  <div class="title-wrapper">
    <img src="{{ logo_src }}" class="company-logo" alt="austral" />
  </div>
  <p class="card-copy">“{{ copy }}”</p>
  <footer class="footer">
    <img src="{{ footer_img }}" class="profile-pic" alt="" />
    <div>
      <p>{{ name }}</p>
      <p>{{ charge }}</p>
    </div>
  </footer>
</figure>
